/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
html {
    font-size: 16px;
}

nav {
    min-width: 100vw;
    height: 100px;
    background-color: #FFF8FB;
    display: flex;
    gap: 1rem;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;

}
nav a {
    text-decoration: none;
}
nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #776E7C;
    letter-spacing: 0.2rem;
    align-self: flex-start;
}
nav li a {
    color: #454148;
    font-weight: 400;
    font-size: 1.1rem;
}
nav li a:hover{
    text-decoration: underline;
}
.cart-icon {
    height: 1.2rem;
}
.nav-cart {
    transition: all 0.2s ease-in-out;
}
.nav-cart:hover {
    transform: scale(1.1);
    text-decoration: none;
}
.nav-cart a {
    display: flex;
}
.nav-cart a:hover {
    text-decoration: none;
}
.cart-item-count {
    height: 1.1rem;
    padding: 0 4px;
    border: 1px solid #454148;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
}
.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}
.hero-container {
    position: relative;
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.hero-img {
    width: 250px;
    z-index: -2;
    position: absolute;
    top: 0;
    right: -60px;
}
.break {
    font-weight: 900;
}
.break::before, .break::after {
    content: "\a";
    white-space: pre;
}
.hero-title-img {
    display: flex;
    width: 100%;
    gap: 1rem;
    position: relative;
}
.hero-title-container {
    align-self: flex-start
}
.hero-title {
    margin-top: 60px;
    font-size: 1.8rem;
    line-height: 130%;
    font-weight: 700;
    color: #565B7B;
    width: max(50%, 215px)
}
.hero-button-container {
    margin-top: 50px;
}
.main-button {
    border: none;
    background-color: #A49AA6;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 900;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
}
.main-button:hover {
    background-color: #bbb1bd;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    text-decoration: none;
    font-weight: 700;
    color: #565B7B;
    transition: all 0.3s ease-in-out;
}
.footer-text:hover{
    transform: scale(1.1);
}
@media only screen and (min-width: 700px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        justify-content: none;
        padding: 0 4rem;
    }
    nav li a {
        font-size: 1.2rem;
    }
    .cart-icon {
        height: 1.3rem;
    }
    .cart-item-count {
        height: 1.2rem;
        font-size: 1.1rem;
    }
    .hero-img {
        top: -50px;
        width: 400px;
    }
    .hero-title {
        margin-top: 150px;
        font-size: 2rem;
        width: auto;
        line-height: 150%;
    }
    .hero-button-container {
        margin-top: 80px;
    }
    .hero-title-img {
        max-width: 750px;
    }
}
@media only screen and (min-width: 1200px) {
    .hero-img {
        width: 500px;
        right: -150px;
    }
    .hero-title {
        margin-top: 180px;
        font-size: 2.5rem;
    }
    .hero-button-container {
        margin-top: 150px;
    }
}
@media only screen and (min-width: 1800px) {
    .hero-img {
        width: 700px;
        right: -100px;
        top: -100px;
    }
    .hero-title {
        margin-top: 210px;
        font-size: 3.2rem;
    }
    .hero-button-container {
        margin-top: 200px;
    }
    .hero-title-img {
        max-width: 1200px;
    }
    .main-button {
        font-size: 1.8rem;
    }
}